<html>
<<<<<<< HEAD

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <div>

    <div class="container">

      {{{body}}}
    </div>

  </div>

</body>

</html>
=======
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/style.css">

  </head>
  <body>
    <div>

                {{{body}}}
                  </div>
                </body>
</html>
>>>>>>> b1655d23f683af1f9d97a44fcbb45f1026db3080
