<html lang="en">
<title>Greetings webApplication</title>
<meta name="viewport" content="width=device-width">

<body>
    <div class=" row">
  <form action="/home" method="POST"> 
          <div class="two columns">
            <button class="button-primary Greetbtn" type="submit" name="button">HOME </button>
          </div>
        </form>
        
          <form action="reset" method="post">
                 <div class="two columns">
        <button class="button-primary Clearbtn" type="submit" name="" >CLEAR</button>
      </div>
    </div>
    </form>
    <table>
        <tr>
            <th>names</th>
            <th>times greeted</th>
        </tr>
        {{#each greetings}}
        <tr>
<td class="greeted" ><a href='/counter/{{names}}'>{{names}}</a></td>
            <td class="counter">{{counts}}</td>
        </tr>
        {{/each}}
    </table>
  
</body>

</html>
