<html lang="en">
<title>Greetings webApplication</title>
<meta name="viewport" content="width=device-width">

<body>
  <form action="/home" method="POST"> <div class="row">
          <div class="twelve columns">
            <button class="button-primary Greetbtn" type="submit" name="button">home </button>
          </div>
        </div></form>
    <table>
        <tr>
            <th>names</th>
            <th>times greeted</th>
        </tr>
        {{#each greetings}}
        <tr>
            <td>{{names}}</td>
            <td>{{counts}}</td>
        </tr>
        {{/each}}
    </table>
    <form action="reset" method="post">
    <div class="row">
        <div class="six columns">
        <button class="button-primary Clearbtn" type="submit" name="button" >Clear DB</button>
      </div>
    </div>
    </form>
</body>

</html>