<!DOCTYPE html>
<html lang="en">
<title>Greetings webApplication</title>
<meta name="viewport" content="width=device-width">

<body>

  <div class="container box">
   
    <h1 class="home">GREETINGS</h1>
    <br>
      <form action="greetings" method="POST">
      
        <div class="row">
          <div class="three columns"> name</div>
        <div class="nine columns "> 
         <p><input class="ten columns InputText text" name="firstName" id="clearname" type="text" placeholder="Enter name ....">
        </p> 
        </div>
        <br>
        <br>
        <br>
        <div class="row">
          <div class="four columns">
            <input type="radio" name="language" class="languageRadio" value="English">
            <span>English</span>
          </div>
          <div class="four columns">
            <input type="radio" name="language" class="languageRadio" value="IsiXhosa">
            <span>IsiXhosa</span>
          </div>
          <div class="four columns">
            <input type="radio" name="language" class="languageRadio" value="Afrikaans">
            <span>Afrikaans</span>
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="twelve columns">
            <button class="button-primary Greetbtn" type="submit" name="button">Greet </button>
          </div>
        </div>
      </form>
      <br>

      <div class="row">
      
        {{#if messages.info}}
         <b> <div class="entry">
          <p> {{messages.info}}</p></b>
        </div>
        {{/if}}
     
      <div class="row twelve columns"><b>
        <div class="seven columns greeted" >message : {{displaymessage}}</div>
         <div class="five columns counter">counter : {{counterdisplay}}</div></b>
      </div>
<br>

      <br>
      <br>

      <br>
      <div class="twelve columns "> 
        <p class="view"><a href="/greeted">click here to view Greeted names</a></p>
      </div>
    </div>
  </div>
</body>

</html>