<!DOCTYPE html>
<html lang="en">
<title>Greetings webApplication</title>
<meta name="viewport" content="width=device-width">

<body>
  <div class="container box">
    <h1 class="greet">GREETINGS</h1>
    
      <form action="greetings" method="POST">
        <div class="row">
        <div class="twelve columns">
          <input class="ten columns InputText" name="firstName" id="clearname" type="text" placeholder="Enter name ....">
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
          <div class="four columns">
            <input type="radio" name="language" class="languageRadio" value="English">
            <span>English</span>
          </div>
          <div class="four columns">
            <input type="radio" name="language" class="languageRadio" value="IsiXhosa">
            <span>IsiXhosa</span>
          </div>
          <div class="four columns">
            <input type="radio" name="language" class="languageRadio" value="Afrikaans">
            <span>Afrikaans</span>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="twelve columns">
            <button class="button-primary Greetbtn" type="submit" name="button">Greet </button>
          </div>
        </div>
      </form>
      <br>

      <div class="row">
        {{#if messages.info}}
        <div class="entry">
          <p> {{messages.info}}</p>
        </div>
        {{/if}}
      </div>
      <div class="row twelve columns"><b>
        <div class="six columns greeted" >.{{displaymessage}}</div>
         <div class="six columns counter">Counter :{{counterdisplay}}</div></b>
      </div>
<br>

      <br>
      <div class="twelve columns"> 
        <p><a href="/greeted">click here to view Greeted names</a></p>
      </div>
    </div>
  </div>
</body>

</html>