<body>
<div class="container box">

  
    <header>
      <h1 class="greet"><h4>GREETINGS</h4>
    </header>
   
    <div class="row">
       <form action="/greetings" method="POST">
      <div class="twelve columns">

        
        <input class="ten columns InputText" name ="textInput" id=clearname type="text" placeholder="Enter name that you want to greet here....">

    <br>
    <br>
    <br>
    <div class="row">
      <div class="four columns">
          
 <input type="radio" name="languageType" class="languageTypeRadio" value="English">
        <span>English</span>
      </div>

      <div class="four columns">
        <input type="radio" name="languageType" class="languageTypeRadio" value="IsiXhosa">
        <span>IsiXhosa</span>
      </div>

      <div class="four columns">
        <input type="radio" name="languageType" class="languageTypeRadio" value="Afrikaans">
        <span>Afrikaans</span>
      </div>
    </div>
       
    <br>
    <div class="row">
      <div class="six columns">

        <button class="button-primary Greetbtn" type="button" name="button">Greet Me</button>
      </div>
      <div class="six columns">
        <button class="button-primary Clearbtn" type="submit" name="button" onclick="document.getElementById('clearname').value = ''">Clear Name</button>
      </div>
    </div>

    </form>
        <span class="counter one column">{{counter}}</span>
      </div>
  
    <div class="row">
      <p class="eight columns namegreeted" href="/display" name= "displayname" >{{nameDisplay}}</p>

      </div>
  </div>
 
</body>