<html lang="en">
<title>Greetings webApplication</title>
<meta name="viewport" content="width=device-width">

<body>
  <form action="/home" method="POST"> <div class="row">
          <div class="twelve columns">
            <button class="button-primary Greetbtn" type="submit" name="button">home </button>
          </div>
        </div></form>
      
        
            <p>Hello , {{names}} has been greet {{counts}} time(s)</p>
     
    
 <form action="/greeted" method="get"> <div class="row">
          <div class="twelve columns">
            <button class="button-primary Greetbtn" type="submit" name="button">back to greeted names </button>
          </div>
        </div></form>
    <form action="/reset" method="post">
    <div class="row">
        <div class="six columns">
        <button class="button-primary Clearbtn" type="submit" name="button" >Clear DB</button>
      </div>
    </div>
    </form>
</body>

</html>