.box {
  padding: 0.85em;
  border-radius : 0.5em;
  border : 1px solid #ddd;
  height: auto;
  margin-bottom: 1em;
  background-color: lightgoldenrodyellow;
  text-align-last: center;
}

.warning {
  color: orange;
  font-weight: bold;
}

.danger {
  color: crimson;
  font-weight: bold;
}

.total {
  font-weight: bold;
  font-size: 2em;
}
.InputText{
  text-transform: capitalize;
  text-align: center
}
.entry{
  font-size: 15px;
  color: red;
  text-align: center;
}
.counter ,.text{
  padding: 0.60em;
  border-radius : 0.1em;
  border : 1px solid #ddd;
  height: auto;
  margin-bottom: 1em;
  color: red;
  width: 50%;
  text-align: center;
  background-color: wheat;
  

}
.view{
  font-size: 15px;
    color: green;
    border: 50%;
    text-align: center;
  
}
.greeted{
  padding: 0.60em;
  border-radius : 0.1em;
  border : 1px solid #ddd;
  height: auto;
  margin-bottom: 1em;
 
  color: green;
  background-color: wheat;
}
.entry:hover{
  font-size: 21px;
  color: green;
}
.radiobtn{
  color: aqua;
}
.radiobtn:hover{
  font-size: 21px;
  color: yellow;
}
.home{
  text-align: center;
}