.box {
  padding: 0.75em;
  border-radius : 0.5em;
  border : 1px solid #ddd;
  height: auto;
  margin-bottom: 1em;
}

.warning {
  color: orange;
  font-weight: bold;
}

.danger {
  color: crimson;
  font-weight: bold;
}

.total {
  font-weight: bold;
  font-size: 2em;
}
.InputText{
  text-transform: capitalize;
}
.entry{
  font-size: 20px;
  color: red;
}
.counter{
    font-size: 15px;
    color: red;
  

}
.greeted{
    font-size: 15px;
    color: green;
    border: 50%
}
.entry:hover{
  font-size: 20px;
  color: green;
}
.radiobtn{
  color: aqua;
}
.radiobtn:hover{
  font-size: 20px;
  color: yellow;
}